.Bio {
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Bio__header {
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 6rem;
  margin-bottom: 3.2rem;
}
.Bio__imageContainer {
  width: 100%;
}
.Bio__image {
  width: 100%;
  object-fit: cover;
}
.Bio__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 2rem 0;
}
.Bio__section-border {
  border-top: var(--border-gray-light);
}

.Bio__sectionHeader {
  flex-shrink: 2;
}
.Bio__sectionHeader h3 {
  font-size: 2.4rem;
  font-weight: 400;
}
.Bio__sectionContent {
  flex-basis: 60%;
  font-size: 1.6rem;
  width: 100%;
}
.Bio__sectionContent-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Bio__sectionListItem {
  flex-basis: 45%;
  margin-bottom: 2rem;
}
.Bio__sectionListItem h4 {
  font-size: 1.6rem;
  font-weight: 400;
}
.Bio__sectionListItemDate {
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-top: 1rem;
}
.Bio__sectionDetails {
  margin-bottom: 2rem;
}

.Bio__contacts {
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .Bio {
    padding: 6rem 0;
  }
  .Bio__header {
    margin-top: 4rem;
  }
  .Bio__section {
    flex-direction: column;
    align-items: center;
  }
  .Bio__sectionHeader {
    margin-bottom: 4rem;
  }
  .Bio__sectionContent {
    flex-basis: auto;
  }
  .Bio__sectionContent-list {
    justify-content: space-around;
  }
  .Bio__sectionHeader {
    text-align: center;
  }
  .Bio__contacts {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .Bio {
    padding: 2rem 0 0 0;
  }
  .Bio__sectionContent {
    height: auto;
  }
  .Bio__sectionContent-list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .Bio__sectionListItem {
    flex-basis: auto;
    text-align: center;
    margin-bottom: 4rem;
  }
}
