.CheckoutList {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 50%;
  background-color: var(--color-gray-light);
  padding: 0 3.2rem;
  font-size: 1.6rem;
}
.CheckoutList__headerSection,
.CheckoutList__totalSection {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CheckoutList__header {
  font-size: 2rem;
  font-weight: 500;
}

.CheckoutList__list {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray);
}
.CheckoutList__item {
  width: 100%;
  height: 8.4rem;
  display: flex;
  gap: 3.2rem;
  padding: 2rem 0;
}
.CheckoutList__imageContainer {
  width: 6rem;
  height: 4rem;
  overflow: hidden;
}
.CheckoutList__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.CheckoutList__itemDescription {
  flex-grow: 1;
}

.CheckoutList__itemDetails {
  position: relative;
  cursor: pointer;
}
.CheckoutList__itemDetails:hover .CheckoutList__itemDetailMessage {
  display: block;
}
.CheckoutList__itemDetailMessage {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 1rem 2rem;
  display: none;
  position: absolute;
  left: 0;
  top: -6rem;
}
.CheckoutList__itemDetailMessage::after {
  content: '';
  position: absolute;
  border: solid 6px;
  border-color: var(--color-primary) transparent transparent transparent;
  bottom: -12px;
  right: calc(50% - 3px);
}

.CheckoutList__totalSection {
  font-size: 2rem;
  font-weight: 600;
}
