.Header__Fixed {
  position: fixed;
  width: 100vw;
  z-index: 3;
}
.Header {
  width: 100%;
  height: 10rem;
  line-height: 5rem;
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}
.Header__Logo {
  flex: 1;
  font-size: 2.4rem;
  font-weight: 700;
}
.Header__ListItem {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0 1.6rem;
}
.Header__Logo:link,
.Header__Logo:visited,
.Header__ListItem:link,
.Header__ListItem:visited {
  color: inherit;
  text-decoration: none;
}
.Header__ListItem-cart {
  font-size: 1.6rem;
}
.Header__ListItem-cartIcon {
  fill: var(--color-secondary);
  /* margin-right: 4px; */
}
