.Header__Fixed {
  position: fixed;
  width: 100vw;
  z-index: 3;
}
.Header {
  width: 100%;
  height: 14rem;
  line-height: 5rem;
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}
.Header__Logo {
  margin-right: auto;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0 1rem;
}
.Header__ListItem {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0 1.6rem;
  cursor: pointer;
}
.Header__Logo:link,
.Header__Logo:visited,
.Header__ListItem:link,
.Header__ListItem:visited {
  color: inherit;
  text-decoration: none;
}
.Header__ListItem-cart {
  font-size: 1.6rem;
}
.Header__ListItem-cartIcon {
  fill: var(--color-secondary);
  /* margin-right: 4px; */
}
@media screen and (max-width: 450px) {
  .Header__Fixed {
    position: relative;
    width: 100vw;
    z-index: 3;
  }
  .Header {
    height: 10rem;
  }
}
