.PhotoCarousel__container {
  flex-basis: 65%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PhotoCarousel {
  overflow: hidden;
  width: 100%;
  display: flex;
}
.PhotoCarousel__inner {
  white-space: nowrap;
  transition: transform 0.5s;
}
.PhotoCarousel__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.PhotoCarousel__image {
  width: 100%;
  height: 100%;
  max-height: 85vh;
  object-fit: contain;
}
.PhotoCarousel__btn {
  width: 10rem;
}
.PhotoCarousel__icon {
  width: 8rem;
  height: 8rem;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .PhotoCarousel__btn {
    display: none;
  }
  .PhotoCarousel__image {
    max-height: 35vh;
  }
}
.PhotoCardDetailed:fullscreen .PhotoCarousel__image {
  max-width: 90vw;
  max-height: 100vh;
  margin: 0 auto;
}
.PhotoCardDetailed:fullscreen .PhotoCarousel__container {
  flex-basis: 100%;
}
