.PhotoCardDetailed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.PhotoCardDetailed:fullscreen {
  padding: 0;
}
.PhotoCardDetailed:fullscreen .Toolbar {
  position: fixed;
  width: 100vw;
}
.PhotoCardDetailed:fullscreen .Toolbar__icon-secondary {
  display: none;
}
.PhotoCardDetailed:fullscreen .PhotoCardDetailed__main {
  padding: 0;
}
.PhotoCardDetailed:fullscreen .PhotoCardDetailed__imageContainer {
  max-width: 90vw;
  max-height: 100vh;
  margin: 0 auto;
}

.PhotoCardDetailed:fullscreen .PhotoCardDetailed__descriptionContainer {
  display: none;
}
.PhotoCardDetailed__main {
  width: 100%;
  height: calc(100vh - 12rem);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PhotoCardDetailed__imageAndNavigationContainer {
  flex-basis: 65%;
}
.PhotoCardDetailed__navigation {
  position: absolute;
  top: calc(50%-4rem);
  color: var(--color-primary);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}
.PhotoCardDetailed__navigation:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.PhotoCardDetailed__navigation-left {
  left: 4rem;
}
.PhotoCardDetailed__navigation-right {
  right: 4rem;
}
.PhotoCardDetailed__navigationIcon {
  width: 8rem;
  height: 8rem;
  padding: 2rem;
}
.PhotoCardDetailed__imageContainer {
  position: relative;
  width: 100%;
  max-width: 120rem;
  flex: 1 1 84%;
  display: flex;
  align-items: center;
}
.PhotoCardDetailed__imageContainer:hover .PhotoCardDetailed__navigation {
  opacity: 1;
}
.PhotoCardDetailed__image {
  width: 100%;
  height: auto;
  max-height: 85vh;
  object-fit: contain;
}
.PhotoCardDetailed__descriptionContainer {
  width: 100%;
  flex-basis: 35%;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.PhotoCardDetailed__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 2rem 0;
}
.PhotoCardDetailed__description {
  font-size: 1.6rem;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .PhotoCardDetailed__main {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .PhotoCardDetailed__title {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .PhotoCardDetailed__descriptionContainer {
    padding: 0;
  }
}
