.PurchaseForm {
  width: 100%;
  max-width: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.PurchaseForm__header {
  font-size: 2rem;
  font-weight: 600;
}
.PurchaseForm__radioItem {
  min-height: 8rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PurchaseForm__radioItem:not(:last-child) {
  border-bottom: var(--border-gray-light);
}
.PurchaseForm__radioItemDescription {
  flex-grow: 1;
  margin-left: 2rem;
  line-height: 1.6;
}
.PurchaseForm__radioItemDescription p {
  color: var(--color-gray);
}
.PurchaseForm__radioItemLabel {
  position: relative;
}
.PurchaseForm__radioItemMemo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 36rem;
  font-weight: 300;
  background-color: var(--color-white);
  border: var(--border-gray-light);
  padding: 2rem;
  display: none;
}
.PurchaseForm__radioItemLabel:hover .PurchaseForm__radioItemMemo {
  display: block;
}
.PurchaseForm__buttonContainer {
  /* margin: auto 0; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PurchaseForm__checkoutLink {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}
@media screen and (max-width: 768px) {
  .PurchaseForm {
    margin: 0 auto;
  }
  .PurchaseForm__header {
    text-align: center;
  }
  .PurchaseForm__buttonContainer {
    margin: 2.4rem 0;
  }
}
